<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="username" value="beera@gmail.com"/>
  <parameter name="password" value="beera"/>
    <classes>
      <class name="com.testdemo.test_demo.AppTest"/>
      <class name="com.testdemo.test_demo.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
